/*  CSS  */


/* PADRAO */

ul, li, h1, p, body {
    padding: 0px;
    margin: 0px;

}

table{
    border: none;
}

body{
    background-color: aliceblue !important;
}


.center{
    margin-left: auto;
    margin-right: auto;
}


a:link, a:visited {
    text-decoration-line: none;
    color: black;
}

a:active{
    text-decoration: underline;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.oculta{
    width: 100%;
    height: 100px;
}


.redes_sociais{
    width: 100px;
    height: 300px;
    position: fixed;
    margin-top: -300px;
}

.redes_sociais img{
    width: 80px;
    height:80px;
    margin-left: 1400px;
}



/* MENU */

.caixa_menu{
    width: 100%;
    height: 130px;
    z-index: 999;
    position: fixed;
    background-color: aliceblue;
}

.header{
    width: 1400px;
    height: 130px;
    box-sizing: border-box;
    background-color: aliceblue;
}

#logo{
    
    width: 150px;
    height: 120px;
    background-color: aliceblue;
    float: left;
    margin-right: 0px;
    margin-left: 20px; 
    margin-top: 10px;
}

#logo img{
   width: 150px;
    height: 120px;
}

    #menu{
        width: 700px;
        height: 90px;
        background-color:aliceblue;
        float: left;
        box-sizing: border-box;
        margin-top: 25px;
    }

    #menu ul{
        width: 1000px;
        height: inherit;
        float: left;
        margin-left: 20px;
    }

    #menu ul li{
        width: 100px;
        height: inherit;
        list-style: none;
        float: left;
        margin-right: 20px;
        background-color: aliceblue;
        color: #000000;
        font-size: 18px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 30px;
    }
#menu ul li:hover{
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
    border-bottom: solid 3px deepskyblue;
    border-right: solid 3px deepskyblue;
    border-radius: 8px;
}

/* SLIDER */

.caixa_slider{
    margin-top: 60px;
    width: 1400px;
    height: 600px;
    background-color: aliceblue;
    z-index: 1;

}

/*CONTEUDO 1 */

.conteudo1{
    width: 1400px;
    min-height: 1000px;
    background-color: aliceblue;
    overflow: hidden;
    height: auto;
}

/*MENU LATERAL */

.menu_lateral{
    width: 200px;
    min-height: inherit;
    background-color: aliceblue;
    float: left;
    border-right: solid 1px deepskyblue;

}

.menu_lateral ul{
        width: 200px;
        height: 50px;
        float: left;
        margin-left: 20px;
        margin-top: 10px;
    }

.menu_lateral ul li{
        width: 160px;
        height: inherit;
        list-style: none;
        margin-right: 10px;
        background-color: deepskyblue;
        color: black;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 10px;
    }

/* CATALOGO DE Jogos */

.caixa_catalogo{
    width: 1195px;
    min-height: 1000px;
    background-color: aliceblue;
    float: left;
    
}
.catalogo{
    width: 250px;
    height: 370px;
    background-color: white;
    border-right: 3px groove deepskyblue;
    border-bottom: 3px groove deepskyblue;
    float: left;
    margin-left: 100px;
    margin-bottom: 50px;
}

.descricao{
    width: 230px;
    margin-left: 10px;
    height: 170px;
    background-color: #b7d2ff;
    border-radius: 10px;

    
}

.imagem_jogo img{
    width: 200px;
    height: 150px;   
    margin-left: -13px;
}

.titulo-preco{
    font-size: 20px !important; 
    font-weight: bold;
}

.descricao p{
    text-align: center;
    font-size: 15px;
    color: black;
    padding-top: 10px;
    box-sizing: border-box;
    
}

.detalhes{
    margin-left: 175px;
    color: black !important;
}




/* PG DAS LOJAS */

.caixa_lojas{
    width: 1195px;
    min-height: 1000px;
    background-color: #b7d2ff ;
    float: left; 
    
}

.loja{
    width: 1100px;
    height: 300px;
    margin-top: 50px;
    text-align: center;
    color: black;
    border-bottom: double 1px deepskyblue;
}

.unidade{
    width: 400px;
    height: 50px;
    border-bottom: double 2px deepskyblue;
}

.endereco{
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 40px;
    float: left;
}

.endereco p {
    margin-top: 10px;
}

.loja-fisica img{
    width: 400px;
    height: 200px;
    margin-left: 200px;
    margin-top: 10px;
    float: left;
}




/* SOBRE NOS  */

.caixasobre{
    width: 1195px;
    min-height: 1000px;
    background-color: aliceblue;
    float: left;
    height: auto;
    
}

.quemsomos{
    width: 1000px;
    height: 300px;
    background-color: #b7d2ff;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(255,255,255,0.57);
-moz-box-shadow: 10px 10px 0px 0px rgba(255,255,255,0.57);
box-shadow: 10px 10px 0px 0px rgba(255,255,255,0.57);;
    margin-left: 100px;
    margin-bottom: 25px;
}

.imagem-sobre img{
    height: 250px;
    width: 200px;
    box-sizing: border-box;
    padding-top: 50px;
    float: left;
}

.titulo-sobre{
    color: black;
    height: 100px;
    width: 750px;
    font-size: 35px;
    float: left;
    box-sizing: border-box;
    padding-left: 250px;
    padding-top: 20px;
}

.texto-sobre{
    width: 750px;
    height: 200px;
    float: left;
    color: black;
    font-size: 20px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    
}



/*  RODAPÈÈÈÈ */
.footer{
    width: 100%;
    height: 200px;
    background-color: #b7d2ff;
}

.caixa_footer{
    width: 1500px;
    height: 200px;
    background-color: #b7d2ff;
}



.logofooter img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
    margin-right: 100px;
}

.dadosDescricao{
    width: 200px;
    height: 150px;
    float: left;
    color: black;
    margin-right: 10px;
    
}

.dadosDescricao p {
    margin-top: 10px;
    
}

.map{
    height: 150px;
    width: 100px;
    margin-top: 20px;
    float: left;
}

/* css do slider */


/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); 
    }
    
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 052 css*/
.jssorb052 .i {position:absolute;cursor:pointer;}
.jssorb052 .i .b {fill:#fff;fill-opacity:1;}
.jssorb052 .i:hover .b {fill-opacity:.7;}
.jssorb052 .iav .b {fill-opacity: 1;}
.jssorb052 .i.idn {opacity:.3;}

/*jssor slider arrow skin 053 css*/
.jssora053 {display:block;position:absolute;cursor:pointer;}
.jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
.jssora053:hover {opacity:.8;}
.jssora053.jssora053dn {opacity:.5;}
.jssora053.jssora053ds {opacity:.3;pointer-events:none;}



